---
import LogoSvg from "../icons/logonf.svg";
---

<footer class="mx-auto w-full max-w-[1392px] px-4 bg-gradient-to-r from-pink-600 to-purple-700 py-6"> 
  <div class="flex justify-between items-center text-white">
    <!-- Lado izquierdo con logo y texto -->
    <div class="flex flex-row gap-x-3 justify-center items-center">
      <LogoSvg class="w-16 h-16" />
      <div>
        <p class="font-semibold text-xl flex flex-row gap-x-2">
          Nicolás Figueroa
          <span class="rounded bg-pink-800 text-xl px-2">2025</span>
        </p>
        <span class="uppercase font-light text-gray-200">
          © Todos los derechos reservados
        </span>
      </div>
    </div>

    <!-- Lado derecho con enlaces -->
    <div class="flex flex-col items-end">
      <h5 class="text-lg font-bold uppercase">Sígueme</h5>
      <div class="flex gap-4 mt-2">
        <a href="https://github.com/" target="_blank" class="hover:text-gray-200">GitHub</a>
        <a href="https://linkedin.com/" target="_blank" class="hover:text-gray-200">LinkedIn</a>
        <a href="mailto:correo@ejemplo.com" class="hover:text-gray-200">Email</a>
      </div>
    </div>
  </div>
</footer>
